{% extends "_templates/base.twig" %}
{% block content %}
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMO6grIC9wDQ6rvbhXx3dAeV5__UsqVtY&sensor=true">
    </script>
    <script src="{{ constant('URL') }}public/js/application/mapJs.js"></script>
    <body>
    <div class="container" style="margin-top: 40px">
        <div class="row">
            <div class="span3" style="float: left">
                <nav class="sidebar light">
                    <ul>
                        <li class="title">Loại hình</li>
                        <li class="active" id="map-type-all"><a href="#"><i class="icon-home"></i>Tất cả</a></li>
                        <li class="stick bg-red">
                            <a class="dropdown-toggle" name="map-activities-all" href=""><i class="icon-tree-view"></i>Hoạt
                                động</a>
                            <ul class="dropdown-menu" data-role="dropdown">
                                <li onclick="getActivityByType(0)"><a><b>Tất cả</b></a></li>
                                <li onclick="getActivityByType(1)"><a>Vì cộng đồng</a></li>
                                <li onclick="getActivityByType(2)"><a onclick="getActivityByType(1)">An sinh xã hội</a>
                                </li>
                                <li onclick="getActivityByType(3)"><a>Tuyên truyền - GD</a></li>
                                <li onclick="getActivityByType(4)"><a>Cải tạo môi trường</a></li>
                                <li onclick="getActivityByType(5)"><a>Đền ơn đáp nghĩa</a></li>
                                <li onclick="getActivityByType(6)"><a>Chuyên môn</a></li>
                                <li onclick="getActivityByType(7)"><a>Khác</a></li>
                                <!--<li class="divider"></li><li class="disabled"><a href="">Subitem 4</a></li>-->
                            </ul>
                        </li>

                        <li class="stick bg-yellow">
                            <a class="dropdown-toggle" href="#"><i class="icon-location"></i>Địa điểm</a>
                            <ul class="dropdown-menu" data-role="dropdown">
                                <li onclick="getLocation(0)"><a><b>Tất cả</b></a></li>
                                <li><a href="">Trung tâm bảo trợ</a></li>
                                <li><a href="">Mái ấm - nhà mở</a></li>
                                <li><a href="">Bệnh viện</a></li>
                                <li><a href="">Khác</a></li>
                            </ul>
                        </li>
                        <li class="stick bg-green">
                            <a class="dropdown-toggle" href="#"><i class="icon-newspaper"></i>Bài viết</a>
                            <ul class="dropdown-menu" data-role="dropdown">
                                <li><a href="">Cơ sở tình nguyện</a></li>
                                <li><a href="">Hoạt động tình nguyện</a></li>
                            </ul>
                        </li>

                        <li class="title">Vị trí</li>
                        <li class="active" id="map-location-all"><a href="#"><i class="icon-home"></i>Tất cả</a></li>
                        <li class="stick bg-red">
                            <a class="dropdown-toggle" href="#"><i class="icon-cars"></i>Ngoại thành</a>
                            <ul class="dropdown-menu" data-role="dropdown">
                                <li><a href="">Bình Chánh</a></li>
                                <li><a href="">Cần Giờ</a></li>
                                <li><a href="">Hóc Môn</a></li>
                                <li><a href="">Nhà Bè</a></li>
                            </ul>
                        </li>
                        <li class="stick bg-pink">
                            <a class="dropdown-toggle" href="#"><i class="icon-compass"></i>Nội thành</a>
                            <ul class="dropdown-menu" data-role="dropdown">
                                <li><a href="">Quận 1</a></li>
                                <li><a href="">Quận 2</a></li>
                                <li><a href="">Quận 3</a></li>
                                <li><a href="">Quận 4</a></li>
                                <li><a href="">Quận 5</a></li>
                                <li><a href="">Quận 6</a></li>
                                <li><a href="">Quận 7</a></li>
                                <li><a href="">Quận 8</a></li>
                                <li><a href="">Quận 9</a></li>
                                <li><a href="">Quận 10</a></li>
                                <li><a href="">Quận 11</a></li>
                                <li><a href="">Quận 12</a></li>
                                <li><a href="">Thủ Đức</a></li>
                                <li><a href="">Tân Phú</a></li>
                                <li><a href="">Tân Bình</a></li>
                                <li><a href="">Phú Nhuận</a></li>
                                <li><a href="">Bình Thạnh</a></li>
                                <li><a href="">Bình Tân</a></li>
                                <li><a href="">Gò Vấp</a></li>
                            </ul>

                        </li>
                        <li class="stick bg-blue">
                            <a class="dropdown-toggle" href="#"><i class="icon-earth"></i>Nước ngoài</a>
                            <ul class="dropdown-menu" data-role="dropdown">
                                <li><a href="">Subitem 1</a></li>
                                <li><a href="">Subitem 2</a></li>
                                <li><a href="">Subitem 3</a></li>
                                <li class="divider"></li>
                                <li><a href="">Subitem 4</a></li>
                                <li class="disabled"><a href="">Subitem 4</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <div style="position: absolute; margin-top: 10px;margin-left: 40%; z-index: 2; float: right">
                    <input type="text" style="width: 300px" placeholder="Nhập từ khóa tìm kiếm..."/>
                    <button class="btn-search icon-search" style="background: #ffffff"></button>
                </div>
            </div>
            <div id="map-canvas" style="width: 900px;height: 600px;float: right;">
            </div>
            <div id="locationList" class="span3">Locations list</div>
            <div style="clear: both"></div>
        </div>
    </div>
    </body>
{% endblock %}