{% extends "_templates/base.twig" %}
{% block content %}
    <div class="main-content clearfix">
        <div class="tile-area no-padding clearfix">
            <div class="tile-group no-margin no-padding clearfix" style="width: 100%">
                <div class="tile double quadro-vertical bg-gray ol-transparent" style="float: right; ">
                    <div class="tile-content">
                        <div class="brand">
                            <span class="label fg-white">ads here...</span>
                        </div>
                    </div>
                </div>

                <div class="tile quadro double-vertical ol-transparent">
                    <div class="tile-content">
                        <div class="carousel" data-role="carousel" data-height="100%" data-width="100%"
                             data-controls="false" style="width: 100%; height: 100%;">
                            <div class="slide" style="left: 0;">
                                <img src="{{ constant('URL') }}public/img/avatar.png">
                            </div>
                            <div class="slide" style="left: -510px; display: block;">
                                <img src="{{ constant('URL') }}public/img/avatar.png">
                            </div>
                            <div class="slide" style="left: -510px; display: block;">
                                <img src="{{ constant('URL') }}public/img/avatar.png">
                            </div>
                            <div class="markers default">
                                <ul>
                                    <li class="active"><a href="javascript:void(0)" data-num="0"></a></li>
                                    <li class=""><a href="javascript:void(0)" data-num="1"></a></li>
                                    <li class=""><a href="javascript:void(0)" data-num="2"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="tile bg-lightBlue ol-transparent">
                        <div class="tile-content icon">
                            <a href="map"><span class="icon-location"></span></a>
                        </div>
                    </div>
                <div class="tile bg-orange ol-transparent">
                    <div class="tile-content icon">
                        <span class="icon-newspaper"></span>
                    </div>
                </div>
                <div class="tile ol-transparent bg-teal">
                    <div class="tile-content icon">
                        <span class="icon-search"></span>
                    </div>
                </div>
                <div class="tile ol-transparent bg-green">
                    <div class="tile-content icon">
                        <span class="icon-share-2"></span>
                    </div>
                </div>

                <!-- Show some activities -->
                <div class="tile triple double-vertical ol-transparent bg-white" data-role="live"
                     data-effect="slideDown">
                    {% for activity in activities %}
                        <div class="tile-content activity">
                            <div class="panel no-border">
                                <div class="panel-header bg-darkRed fg-white">
                                    <a href="{{ constant('URL') }}activities/detail/{{ activity.id }}"
                                       style="color:white; font-size:20px;">
                                        {{ activity.name }}
                                    </a>
                                </div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="{{ constant('URL') }}public/img/avatar.png"
                                         class="place-left margin10 nlm ntm size2">
                                    {{ activity.description }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- End show some activities -->
                <!-- Show some articles -->
                <div class="tile triple double-vertical ol-transparent bg-white" data-role="live"
                     data-effect="slideRight">
                    {% for article in articles %}
                        <div class="tile-content article">
                            <div class="panel no-border">
                                <div class="panel-header bg-pink fg-white">
                                    <a href="{{ constant('URL') }}articles/detail/{{ article.id }}" style="color:white; font-size:20px;">
                                        {{ article.title }}
                                    </a>
                                </div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="{{ constant('URL') }}public/img/avatar.png"
                                         class="place-left margin10 nlm ntm size2">
                                    {{ article.sumary }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- End show some articles -->
            </div>
            <!-- End first group -->

            <div class="tile-group no-margin no-padding clearfix" style="width: 100%">
                <div class="tile double ol-transparent"></div>
                <div class="tile double ol-transparent"></div>
                <div class="tile double ol-transparent"></div>
                <div class="tile double ol-transparent"></div>
            </div>

            <div class="tile-group no-margin no-padding1 clearfix" style="width: 100%;">
                <a href="#"><span class="tile-group-title fg-orange">NEWS <span
                                class="icon-arrow-right-5"></span></span></a>

                <div class="tile quadro double-vertical ol-transparent"></div>
                <div class="tile double ol-transparent"></div>
                <div class="tile ol-transparent"></div>
                <div class="tile ol-transparent"></div>
                <div class="tile ol-transparent"></div>
                <div class="tile ol-transparent"></div>
                <div class="tile double ol-transparent"></div>
            </div>

            <div class="tile-group no-margin no-padding1 clearfix" style="width: 100%;">
                <a href="#"><span class="tile-group-title fg-cobalt">SPORT <span
                                class="icon-arrow-right-5"></span></span></a>

                <div class="tile quadro double-vertical ol-transparent"></div>
                <div class="tile double ol-transparent"></div>
                <div class="tile ol-transparent"></div>
                <div class="tile ol-transparent"></div>
                <div class="tile ol-transparent"></div>
                <div class="tile ol-transparent"></div>
                <div class="tile double ol-transparent"></div>
            </div>
        </div>
    </div>
{% endblock %}