<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>VMap Pro</title>
    <link href="{{ constant('URL') }}public/css/metro-bootstrap.css" rel="stylesheet">
    <link href="{{ constant('URL') }}public/css/metro-bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ constant('URL') }}public/css/iconFont.css" rel="stylesheet">
    <link href="{{ constant('URL') }}public/css/style.css" rel="stylesheet">
</head>
<body class="metro">
{% block javascripts %}
    <script src="{{ constant('URL') }}public/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="{{ constant('URL') }}public/js/jquery/jquery.min.js"></script>
    <script src="{{ constant('URL') }}public/js/jquery/jquery.widget.min.js"></script>
    <script src="{{ constant('URL') }}public/js/metro.min.js"></script>
    <script src="{{ constant('URL') }}public/js/application/userJs.js"></script>
{% endblock %}
<header>
    <nav class="navigation-bar bg-green fixed-top shadow">
        <nav class="navigation-bar-content container">
            <div class="element">
                <a class="dropdown-toggle" href="#">VMAP PRO</a>
                <ul class="dropdown-menu" data-role="dropdown">
                    <li><a href="#">Main</a></li>
                    <li><a href="#">File Open</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Print...</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Exit</a></li>
                </ul>
            </div>

            <span class="element-divider"></span>
            <a class="element brand" href="{{ constant('URL') }}home"><span class="icon-home"></span></a>
            <span class="element-divider"></span>

            <div class="element input-element">
                <form>
                    <div class="input-control text">
                        <input type="text" placeholder="Search...">
                        <button class="btn-search"></button>
                    </div>
                </form>
            </div>
            {% if userLogged == 0 %}
                <a class="element place-right" id="userSignUpButton" href="#"><span class="icon-user"></span>&nbsp;&nbsp;Đăng
                    ký</a>
                <a class="element place-right" id="userLoginButton" href="#"><span class="icon-key-2"></span>&nbsp;&nbsp;Đăng
                    nhập</a>
            {% else %}
                <div class="element place-right">
                    <a class="dropdown-toggle" href="#">
                        <span class="icon-cog"></span>&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-menu place-right" data-role="dropdown">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Download</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Buy Now</a></li>
                    </ul>
                </div>
                <span class="element-divider place-right"></span>
                <a class="element place-right" href="{{ constant('URL') ~ 'users/userlogout/' }}"><span
                            class="icon-exit"></span></a>
                <span class="element-divider place-right"></span>
                <button class="element image-button image-left place-right">
                    {{ userLogged.fname ~ ' ' ~ userLogged.lname }}
                    <img src="{{ userLogged.imageUrl }}"/>
                </button>
            {% endif %}
        </nav>
    </nav>
</header>
<!-- -->
<div class="container">
    <div class="header-menu">
        <div class="clearfix">
            {#<div class="place-right">
                <form>
                    <div class="input-control text size6 margin20 nrm">
                        <input type="text" name="q" placeholder="Search...">
                        <button class="btn-search"></button>
                    </div>
                </form>
            </div>#}
            <a class="place-left" href="{{ constant('URL') }}home" title="">
                {#<h1>VMAP PRO</h1>#}
            </a>
        </div>
        <div class="main-menu-wrapper">
            <ul class="horizontal-menu">
                {#<li><a href="#">news</a></li>#}
                {#<li><a href="#">sports</a></li>#}
                {#<li><a href="#">entertainment</a></li>#}
                {#<li><a href="#">money</a></li>#}
                {#<li><a href="#">autos</a></li>#}
                {#<li><a href="#">living</a></li>#}
                {#<li><a href="#">health</a></li>#}
                {#<li class="place-right">
                    <a href="#" class="dropdown-toggle">options</a>
                    <ul class="dropdown-menu place-right" data-show="hover" style="display: none;">
                        <li><a href="#">Go to Classic MSN</a></li>
                        <li><a href="#">MSN Worldwide</a></li>
                    </ul>
                </li>#}
            </ul>
        </div>
    </div>
    <!-- Content, will be passed here via Twig -->
    {% block content %} {% endblock %}
</div>
<footer>
    <div class="page-footer-content">
        <h4 class="text-center"><strong>VMAP PRO</strong></h4>

        <p class="text-center">© 2014 VMap Team.</p>
    </div>
</footer>
</body>
</html>
